// Fonts
@font-face {
  font-family: 'BariolBold';
  src: url("/assets/fonts/Bariol_Bold.otf") format('opentype');
}
@font-face {
  font-family: 'BariolBoldItalic';
  src: url("/assets/fonts/Bariol_Bold_Italic.otf") format('opentype');
}
@font-face {
  font-family: 'BariolRegular';
  src: url("/assets/fonts/Bariol_Regular.otf") format('opentype');
}
@font-face {
  font-family: 'BariolRegularItalic';
  src: url("/assets/fonts/Bariol_Regular_Italic.otf") format('opentype');
}
@font-face {
  font-family: 'BariolLight';
  src: url("/assets/fonts/Bariol_Light.otf") format('opentype');
}
@font-face {
  font-family: 'GeomanistRegular';
  src: url("/assets/fonts/Geomanist-Regular.otf") format('opentype');
}
@font-face {
  font-family: 'GeomanistLight';
  src: url("/assets/fonts/Geomanist-Light.otf") format('opentype');
}
@font-face {
  font-family: 'GeomanistBold';
  src: url("/assets/fonts/Geomanist-Bold.otf") format('opentype');
}
@font-face {
  font-family: 'GeomanistMedium';
  src: url("/assets/fonts/Geomanist-Medium.otf") format('opentype');
}
@font-face {
  font-family: 'GeomanistBlack';
  src: url("/assets/fonts/Geomanist-Black.otf") format('opentype');
}

// animations
@keyframes searching {
  0% {
    left: -8rem;
  }
  100% {
    left: 100%;
  }
}

// helper: hide
.hide {
  display: none;
}

// helper: show
.show {
  display: block;
}

// helper: buffer top
.buffer-top {
  padding-top: 1rem;
}

// helper: buffer bottom
.buffer-bottom {
  padding-bottom: 5rem;
}

// helper: buffer right
.buffer-right {
  padding-right: 17rem;
}

// helper: buffer left
.buffer-left {
  padding-left: 7rem;
}

// element: article
.article {
  display: inline-block;
  margin: 1rem;

  a {
    text-decoration: none;
  }

  .card {
    width: 15rem;
    height: 20rem;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50), 0 2px 4px 0 rgba(0,0,0,0.50);
    background-color: #FFFFFF;
    position: relative;
    color: #FFFFFF;
    overflow: hidden;

    .overlay {
      position: absolute;
      left: 0;
      top: 0;
      width: inherit;
      height: inherit;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      z-index: 1;
      background-image: linear-gradient(-180deg, rgba(0,0,0,0.00) 0%, rgba(0,0,0,0.97) 99%, #000000 99%);
      padding-top: 12rem;
      box-sizing: border-box;
      transition: all 0.5s ease;
      opacity: 1;

      .author {
          font-family: 'GeomanistLight';
          text-align: center;
          height: 1.5rem;
          width: inherit;
          box-sizing: border-box;
          padding: 0 0.5rem;
          font-size: 0.9rem;
      }

      .headline {
          font-family: 'GeomanistBlack';
          text-align: center;
          line-height: 1.5;
          height: 5rem;
          width: inherit;
          box-sizing: border-box;
          padding: 0 0.3rem;
      }

      .timestamp {
          font-family: 'GeomanistLight';
          text-align: right;
          height: 1.5rem;
          width: inherit;
          box-sizing: border-box;
          padding: 0 0.5rem;
          font-size: 0.8rem;
      }
    }

    .media {
      position: absolute;
      left: 0;
      top: 0;
      width: inherit;
      height: inherit;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      background-color: #0080FF;
      z-index: 0;
      transition: all 0.5s ease;
    }

    &:hover {
      .overlay {
          transition: all 0.5s ease;
          opacity: 0.7;
      }
      .media {
          transition: all 0.5s ease;
          transform: scale(1.3, 1.3);
      }
    }
  }

  .status {
      color: #0080FF;
      display: block;
      text-align: center;
      margin: 1rem auto 0 auto;
      font-family: "GeomanistMedium";
      strong {
        font-family: "GeomanistBold";
      }

      &[data-status="1"] {
          color: #FFA500;
      }

      &[data-status="2"] {
          color: #D40044;
      }

      &[data-status="3"] {
          color: #47D400;
      }
  }

  .dnn-button {
    display: block;
    margin: 1rem auto;
    max-width: 8rem;
  }
}

// element: field
.field {
  margin-bottom: 2rem;

  label {
    margin-bottom: 0.3rem;
  }

  textarea {
    margin: 0.5rem 0;
    padding: 0.5rem 1rem;
    border: 0.05rem solid #979797;
    border-radius: 0.3rem;
    display: block;
    outline: none;
    width: 100%;
    box-sizing: border-box;
  }

  input:not([type="radio"]):not([type="checkbox"]) {
    margin: 0.5rem 0;
    padding: 0.5rem 1rem;
    border: 0.05rem solid #979797;
    max-width: 50rem;
    width: 100%;
    border-radius: 0.3rem;
    outline: none;
    display: block;
    box-sizing: border-box;
  }

  select {
    margin: 0.5rem 0;
    display: block;
    outline: none;
  }
}

// element: loading indicator
#loading-indicator {

  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(221, 238, 255, 0.8);
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  opacity: 0;
  transition: opacity 0.5s ease;

  &.show {
    opacity: 1;
    transition: opacity 0.5s ease;
  }

  img {
    width: 4rem;
    height: 4rem;
    position: absolute;
    left: 50%;
    margin-left: -2rem;
    top: 50%;
    margin-top: -2rem;
  }

}

// sidebar
#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 6rem;
    border-right: 0.09rem solid #0080FF;
    background-color: #0080FF;
    box-shadow: 0 2px 4px 0 rgba(158,152,152,0.50);
    z-index: 2;

    & > a {
        display: block;
        margin: 1.8rem auto;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;

        &:hover {
          opacity: 0.5;
        }

        &[data-action="logo"] {
            width: 4.5rem;
            height: 2rem;
            background-image: url(/assets/img/sidebar/logo.png);
            margin: 1rem auto;
        }

        &[data-action="article-feedback"] {
            width: 3.4rem;
            height: 3.4rem;
            background-image: url(/assets/img/sidebar/article-feedback.png);
        }

        &[data-action="compose-article"] {
            width: 3.4rem;
            height: 3.4rem;
            background-image: url(/assets/img/sidebar/compose-article.png);
        }

        &[data-action="review-article"] {
            width: 3.4rem;
            height: 3.4rem;
            background-image: url(/assets/img/sidebar/review-article.png);
        }

        &[data-action="articles-reviewed"] {
            width: 3.4rem;
            height: 3.4rem;
            background-image: url(/assets/img/sidebar/articles-reviewed.png);
        }

        &[data-action="articles-submitted"] {
            width: 3.4rem;
            height: 3.4rem;
            background-image: url(/assets/img/sidebar/articles-submitted.png);
        }

        &[data-action="my-profile"] {
            width: 3.4rem;
            height: 3.4rem;
            background-image: url(/assets/img/sidebar/my-profile.png);
        }

        &[data-action="my-tokens"] {
            width: 3.4rem;
            height: 3.4rem;
            background-image: url(/assets/img/sidebar/my-tokens.png);
        }

        &[data-action="articles-drafted"] {
            width: 3.4rem;
            height: 3.4rem;
            background-image: url(/assets/img/sidebar/articles-drafted.png);
        }

        &[data-action="dnn-guidelines"] {
            width: 3.4rem;
            height: 3.4rem;
            background-image: url(/assets/img/sidebar/dnn-guidelines.png);
        }

        &[data-action="back"] {
            width: 3rem;
            height: 3rem;
            background-image: url(/assets/img/sidebar/back.png);
        }
    }
}

// article
article {
  max-width: 50rem;
  width: 90%;

  #article-status {
    background: #0080FF;
    box-shadow: 0 2px 4px 0 rgba(138,130,130,0.50);
    border-radius: 0.5rem;
    padding: 1rem;
    text-align: center;
    font-size: 1.1rem;
    display: block;
    font-family: 'GeomanistRegular';
    color: #FFFFFF;
    margin-bottom: 2rem;
    strong {
      font-family: 'GeomanistBold';
    }

    &[data-status="1"] {
        background-color: #FFA500;
    }

    &[data-status="2"] {
        background-color: #D40044;
    }

    &[data-status="3"] {
        background-color: #47D400;
    }
  }

  #edit-article {
    margin: 1rem 0 2rem 0;
    display: block;
    max-width: 8rem;
    text-align: center;
  }

  h1 {
    font-family: 'GeomanistBlack';
    line-height: 1.3;
    margin: 0 0 0.5rem 0;
  }

  h2 {
    margin: 0;
  }

  #article-meta {
      & > span {
        display: block;
        margin-bottom: 0.5rem;
      }
  }

  #article-cover {
    display: block;
    margin: 1rem 0;
    img {
        width: 100%;
    }
  }

  #article-main {
    margin: 1rem 0;

    p, ul, ol {
      font-family: 'GeomanistRegular';
      line-height: 1.8;
      margin: 0;

      li {
        margin-bottom: 0.5rem;
      }

      img {
        width: 100%;
      }
    }
  }

  .ql-size-small {
    font-size: 0.8rem;
  }

  .ql-size-normal {
    font-size: 1rem;
  }

  .ql-size-large {
     font-size: 1.6rem;
  }

  .ql-size-huge {
      font-size: 2rem;
  }
}

// sources
#sources {
  position: fixed;
  right: -1rem;
  top: 0;
  width: 16rem;
  height: 100vh;
  text-align: center;
  border-left: 0.09rem solid #0080FF;
  background-color: #FFFFFF;
  overflow-y: auto;
  overflow-x: hidden;
  padding-bottom: 10rem;
  box-sizing: border-box;
  z-index: 1;

  &::-webkit-scrollbar {
      width: 0.7em;
      background: transparent;
  }
  &::-webkit-scrollbar-thumb {
      background: transparent;
  }

  .dnn-button {
    margin: 1rem auto;
    display: block;
    max-width: 6rem;
    font-size: 0.9rem;
  }

  .source {
    width: 100%;
    box-sizing: border-box;
    padding: 1rem;
    background-color: #FCFCFC;
    margin-bottom: 0.5rem;
    cursor: pointer;

    p {
      line-height: 1.5;
      text-align: left;
      margin: 0.2rem 0;
      font-size: 0.8rem;
    }

    & > a {
      text-decoration: none;
      display: block;
    }

    & > a:first-child {
      color: #666666;
      margin-bottom: 1rem;
      text-align: left;
      em {
        font-size: 0.7rem;
      }
    }

    & > a:nth-child(2) {
      color: #666666;
      font-size: 0.8rem;
      color: #F62929;
    }

    &:not(:last-child) {
        border-bottom: 0.01rem dashed #EEEEEE;
    }
  }
}

// element: button
button.dnn-button, a.dnn-button {
  background-color: #0080FF;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
  border-radius: 2px;
  padding: 1rem 2rem;
  color: #FFFFFF;
  text-decoration: none;
  text-align: center;
  border: none;
  outline: none;

  &.color-red {
      background-color: #FF0048;
  }

  &[disabled="disabled"] {
      opacity: 0.3;
  }
}

// element: link
a.dnn-link {
  color: #0080FF;
  text-decoration: none;
  text-align: center;
}

// element: popup
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9998;
    top: 100%;
    text-align: center;

    .droparea {
        margin: 1rem auto;
        width: 80%;
        height: 10rem;
        border: 0.2rem dashed #DDDDDD;
        border-radius: 0.8rem;
        background-color: #f9f9f9;
        position: relative;
        p {
            position: absolute;
            width: 100%;
            text-align: center;
            margin: 0 auto;
            top: 15%;
            padding: 0;
            strong {
                font-size: 1.4rem;
                margin-top: 1rem;
                display: block;
                text-align: center;
            }
            small {
                font-size: 0.9rem;
            }
        }
    }

    .popup-overlay {
        background-color: rgba(0,0,0,0.8);
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        z-index: 2;
    }

    .popup-content {
        position: fixed;
        z-index: 3;
        max-width: 50rem;
        width: 100%;
        background-color: #FFFFFF;
        left: 50%;
        margin-left: -20rem;
        top: 100%;
        box-sizing: border-box;
        padding: 3rem;
    }

    .popup-icon {
        display: block;
        width: 3.5rem;
        height: 3.5rem;
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        margin: 0 auto 1rem auto;
    }

    h3 {
        font-size: 1.8rem;
        color: #666666;
        margin: 0.5rem 0;
        font-family: "BariolBold";
    }

    p {
        font-family: "BariolBold";
        font-size: 1.3rem;
        line-height: 1.5;
        padding: 0 2.5rem 0 2.5rem;
        color: #A1A1A1;
    }

    .popup-buttons {
        text-align: center;
        padding: 2rem 0 0 0;
        .btn {
            min-width: 7rem;
            margin: 0 3rem;
            display: inline-block;
        }
    }

    &[data-type="warning"] {
        p {
            color: #FF5757;
            a {
                color: #FF5757;
            }
        }
        .btn {
            &[data-button="0"] {
                background-color: #bbb;
                opacity: 0.5;
                box-shadow: 0 0.125rem 0.375rem 0.0625rem rgba(51,46,46,0.5);
            }
            &[data-button="1"] {
                background: #FF5757;
                box-shadow: 0px 2px 6px 1px rgba(255,87,87,0.5);
            }
        }
    }

    &[data-type="message"] {
        p {
            color: #A1A1A1;
            a {
                color: #A1A1A1;
            }
        }
        .btn[data-button="0"] {
            background-color: #bbb;
            opacity: 0.5;
            box-shadow: 0 0.125rem 0.375rem 0.0625rem rgba(51,46,46,0.5);
        }
    }

    &[data-type="notice"] {
        p {
            color: #0080FF;
            a {
                color: #0080FF;
            }
        }
        .btn {
            &[data-button="0"], &[data-button="1"] {
                background: #0080FF;
                box-shadow: 0px 2px 6px 1px rgba(0,128,255,0.5);
            }
        }
    }

    &[data-type="success"] {
        p {
            color: #00FF5A;
            a {
                color: #00FF5A;
            }
        }
        .btn {
            &[data-button="0"], &[data-button="1"] {
                background: #00FF5A;
                box-shadow: 0px 2px 6px 1px rgba(0,255,90,0.5);
            }
        }
    }

    &.hide {
        top: 100%;
        transition: opacity 0.5s ease,top 0s linear 0.6s;
        opacity: 0;
        .popup-content {
            top: 100%;
            transition: top 1s ease;
        }
    }

    &.show {
        top: 0;
        opacity: 1;
        transition: opacity 0.7s ease 0.3s;
        .popup-content {
            top: 20%;
            transition: top 0.6s ease;
        }
    }
}

@media (max-width:45rem) {
    .popup .popup-content {
        margin-left: -45%;
        width: 90%;
        padding: 1rem;
    }
}

// controller
div[ng-controller] {
    & > h1 {
      margin: 0;
    }
    & > p {
      max-width: 30rem;
      line-height: 1.5;
    }
}

// controller: My Tokens
div[ng-controller="MyTokensCtrl"] {
    #balance {
      width: 15rem;
      background: #FFFFFF;
      box-shadow: 0 2px 4px 0 rgba(154,153,153,0.50);
      text-align: center;
      padding: 2rem;
      margin: 1rem 0;

      h3 {
        font-family: 'GeomanistBold';
        font-size: 3rem;
        margin: 0;
        color: #0080FF;
      }

      small {
        margin-bottom: 1rem;
        display: block;
      }

      button {
        display: block;
        margin: 0 auto;
        width: 80%;
      }
    }

    #balance-ledger {
        width: 95%;
        max-width: 50rem;
        background: #FFFFFF;
        box-shadow: 0 2px 4px 0 rgba(154, 153, 153, 0.5);
        text-align: center;
        margin: 1rem 0;

        table {
          width: 100%;
          tr {
            cursor: pointer;

            &:first-child {
                background-color: #EEEEEE;
            }

            &:not(:last-child) {
              border-bottom: 0.09rem dashed #EEEEEE;
            }

            &:not(:first-child):hover {
              background-color: #FFF4A8;
              transition: background-color 0.3s ease;
            }
          }

          tr {
            td {
              &:nth-child(2) {
                font-style: italic;
              }
            }

            &:nth-child(even):not(:nth-child(2)) {
                td:nth-child(4) {
                  opacity: 0;
                }
            }

            td, th {
              text-align: center;
              padding: 0.5rem;
            }
          }
        }
    }
}

// controller: My Profile
div[ng-controller="MyProfileCtrl"] {
    #profile-picture-default {
      width: 8rem;
      height: 8rem;
      margin: 2rem 0;
      background-position: center center;
      background-size: contain;
      background-repeat: no-repeat;
      background-image: url(/assets/img/profile/default.png);
      cursor: pointer;
    }

    #profile-picture-preview {
      width: 8rem;
      height: 8rem;
      margin: 2rem 0;
      border-radius: 4rem;
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      cursor: pointer;
    }

    & > a {
      max-width: 8rem;
      display: block;
      margin-bottom: 2rem;
    }
}

// controller: Compose Article
div[ng-controller="ComposeArticleCtrl"] {

    .ql-toolbar {
      border: none;
    }

    .ql-editor {
      min-height: inherit;
    }

    #editor-cover {
      display: block;
      max-width: 50rem;
      width: 100%;
      margin: 1rem 0;
      img {
          width: 100%;
      }
    }

    #editor {
      max-width: 50rem;
      width: 100%;
      min-height: 30rem;
      border: 0.05rem solid #979797;
      border-radius: 0.3rem;
    }

    #editor-addsource {
      position: fixed;
      z-index: 4;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      background-color: rgba(255,255,255,0.99);
      box-sizing: border-box;

      p {
          line-height: 1.5;
          margin-bottom: 2rem;
      }
      textarea {
        width: 100%;
        min-height: 10rem;
      }
      input {
        width: 100%;
      }
      select {
        width: 100%;
      }
      & > div {
          max-width: 50rem;
          width: 95%;
          margin: 1rem auto;
      }
      a {
          display: block;
          margin: 1.5rem auto;
          text-align: center;
          max-width: 10rem;
          &:hover {
            opacity: 0.9;
          }
      }
    }

    #preview-button {
        position: fixed;
        right: 4rem;
        bottom: 2rem;
        width: 6rem;
        height: 6rem;
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        background-image: url(/assets/img/editor/preview-button.png);
        transition: all 0.3s ease;
        z-index: 3;

        &:hover {
          transform: scale(1.2, 1.2);
          transition: all 0.3s ease;
        }
    }

    #submit-button {
        position: fixed;
        right: 4rem;
        bottom: 2rem;
        width: 6rem;
        height: 6rem;
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        background-image: url(/assets/img/editor/submit-button.png);
        transition: all 0.3s ease;
        z-index: 3;

        &:hover {
          transform: scale(1.2, 1.2);
          transition: all 0.3s ease;
        }
    }
}

// controller: Signup
div[ng-controller="SignupCtrl"] {
  .wrapper {
    white-space: nowrap;

    #side {
        width: 35%;
        height: 100vh;
        background-color: #000000;
        display: inline-block;
        overflow: hidden;
        float: left;
        position: relative;

        #news-clips {
             height: inherit;
             overflow: hidden;
             width: 100%;
             z-index: 0;
             .clip {
                background-color: #000000;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                display: inline-block;
                float: left;
                width: 33.33333%;
                height: 25%;
            }
        }

        #side-overlay {
            position: absolute;
            width: 100%;
            height: inherit;
            background-color: rgba(0,128,255, 0.9);
            top: 0;
            left: 0;
            box-sizing: border-box;
            padding: 1rem;

            p {
              margin-top: 2rem;
              color: #FFFFFF;
              white-space: normal;
              line-height: 1.8;
              font-size: 1.2rem;
              font-family: 'GeomanistLight';
              text-align: center;

              strong {
                font-family: 'GeomanistBold';
              }

              a {
                color: #FFFFFF;
                font-family: 'GeomanistBold';
              }
            }

            #side-logo {
                background-position: center center;
                background-repeat: no-repeat;
                background-size: contain;
                background-image: url(/assets/img/onboard/logo.png);
                width: 6rem;
                height: 3rem;
            }
        }
    }

    #pages {
        width: 65%;
        height: 100vh;
        display: inline-block;
        float: left;
        white-space: normal;

        .page {
          max-width: 35rem;
          width: 95%;
          margin: 2rem auto 1rem auto;

          h3, p {
            text-align: center;
          }

          h3 {
            font-size: 1.8rem;
            color: #0080FF;
            margin: 0 0 2rem 0;
          }

          p {
            color: #666666;
            line-height: 1.5;
          }

          .dnn-button {
            margin: 2rem auto;
            max-width: 8rem;
            display: block;
          }
          .dnn-link {
            display: inline-block;
            &#back-button {
              margin: 2rem auto;
              display: block;
            }
          }

          .field {
            input, select {
              width: 100%;
            }
          }
        }
    }
  }
}

// controller: Review Article
div[ng-controller="ReviewArticleCtrl"] {
    p {
        margin-bottom: 2rem;
    }

    #searching-indicator {
        background-color: rgba(0,128,255, 0.2);
        display: block;
        border-radius: 0.5rem;
        height: 0.5rem;
        max-width: 30rem;
        position: relative;
        overflow: hidden;

        & > div {
            width: 5rem;
            height: inherit;
            border-radius: 0.5rem;
            background-color: #0080FF;
            left: -8rem;
            position: absolute;
            animation-name: searching;
            animation-duration: 1.5s;
            animation-iteration-count: infinite;
        }
    }

    #review-stake {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-color: rgba(255,255,255,0.99);
      box-sizing: border-box;
      padding: 2rem;
      z-index: 4;

      & > div {
          width: 95%;
          max-width: 50rem;
          margin: 1rem auto;
          display: block;
          text-align: center;

          p {
            font-size: 1.1rem;
            line-height: 1.5;
          }

          h3 {
            font-size: 1.8rem;
          }

          input {
            display: block;
            margin: 1rem auto 2rem auto;
            height: 3rem;
            text-align: center;
            font-size: 1.8rem;
            max-width: 9rem;
            box-sizing: border-box;
            border: none;
            border-bottom: 0.1rem solid #DDD;
            outline: none;
          }

          .dnn-button {
              display: block;
              margin: 1rem auto 2rem auto;
              max-width: 8rem;
          }
      }
    }
}

// controller: Article Review Process
div[ng-controller="ArticleReviewCtrl"] {
    article {
        padding-bottom: 15rem;
    }

    #submit-button {
        position: fixed;
        right: 4rem;
        bottom: 2rem;
        width: 6rem;
        height: 6rem;
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        background-image: url(/assets/img/editor/submit-button.png);
        transition: all 0.3s ease;
        z-index: 3;

        &:not([disabled="disabled"]):hover {
          transform: scale(1.2, 1.2);
          transition: all 0.3s ease;
        }

        &[disabled="disabled"] {
            opacity: 0.5;
        }
    }

    #review-panel {
      background-color: #FFFFFF;
      border-top: 0.1rem solid #EAEAEA;
      box-sizing: border-box;
      width: 100%;
      position: fixed;
      bottom: 0;
      padding: 1rem 18rem 1rem 1rem;
      z-index: 0;
      margin-left: -1rem;

      .radio {
        display: inline-block;
        margin-right: 1rem;

        label {
          display: inline-block;
          font-size: 0.9rem;
          font-family: "GeomanistMedium";
        }

        input {
            display: inline-block;
        }
      }


      .field {
        margin-bottom: 1rem;

        & > label {
          display: block;
          margin-bottom: 0.5rem;
          font-size: 0.9rem;
          font-family: "GeomanistMedium";
        }

        textarea {
          height: 5rem;
          font-size: 0.9rem;
        }
      }
    }
}

// controller: Guidelines
div[ng-controller="GuidelinesCtrl"] {
    & > div {
        max-width: 50rem;
        display: block;
        padding: 2rem auto;

        p, ul, ol {
          line-height: 1.8;
        }
    }
}

// controller: Article Feedback
div[ng-controller="ArticleFeedbackCtrl"] {
    .reviews {
        max-width: 50rem;

      .review {
        margin-bottom: 1rem;
        padding: 1.5rem 1rem;
        background-color: #F7F7F7;
        border-radius: 0.3rem;

        &[data-personalvote="true"] {
          background-color: #CFFBB9;
        }

        &[data-personalvote="false"] {
          background-color: #DA07378C;
        }

        .review-reviewer {
            font-family: "GeomanistMedium";
            display: block;
            font-size: 1.3rem;
        }

        .review-feedback {
            line-height: 1.5;
            margin: 1.5rem 0;
        }

        .review-vote {
            padding: 0.3rem 0.5rem;
            background-color: rgba(0,0,0,0.2);
            display: inline-block;
            border-radius: 0.3rem;
            margin-right: 1rem;
        }
      }
    }
}
