
<header id="logged-in">
  <button id="simulate-toggle" ng-click="isSimulated = !isSimulated">
     <span ng-show="isSimulated == true">Switch to DNN on Testnet</span>
     <span ng-show="isSimulated == false">Switch to Simulated DNN</span>
 </button>
 <div id="user">
      <mediabackground ng-if="DNN.User.session.user.photo && DNN.User.session.user.photo != ''"  type="image" hash="DNN.User.session.user.photo"></mediabackground>
      <div data-type="name">[[DNN.User.session.user.fullname]] <div id="menu-down-arrow"></div></div>
  </div>
  <div id="user-menu">
    <div class="options">
      <a target="_self" href="/account" class="option">My Account</a>
      <a target="_self" href="/type" class="option">Change account type</a>
    </div>
  </div>
</header>
