<div class="page-wrapper" ng-controller="StreamCtrl">
    <div class="wrapper">
      <main id="stream">
  				<div id="articles">
  				</div>

  				<div class="bottom">
            <div id="support-links">
  						<span>Support &amp; Discussion</span>
  						<a class="support-slack" href="http://slack.dnn.media/" target="_blank">
  							<div></div>
  						</a>
  						<a class="support-telegram" href="https://t.me/DNNMedia" target="_blank">
  							<div></div>
  						</a>
  					</div>
          </div>
  		</main>
    </div>
</div>

<script>
		'use strict';
		angular.module('DNN')
			.controller('StreamCtrl', ['$scope', '$location', '$timeout', '$controller', function($scope, $location, $timeout, $controller) {
						window["addEventListener"]("load", function() {
                  $timeout(function() {
                        $scope.DNN = DNN;
                  });
            });
			}]);
</script>
